name: build

on:
  push:
    tags: [v*]
    branches: [main]
  pull_request:

jobs:
  # See https://github.com/mvdan/github-actions-golang
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        go-version: [1.18.x, 1.19.x]
        # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-expanding-configurations
        include:
          - os: windows-latest
            go-version: 1.19.x
          - os: macos-latest
            go-version: 1.19.x

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Go install moq
        run: go install

      - name: Run vet
        if: matrix.os == 'ubuntu-latest'
        run: go vet ./...

      - name: Lint
        if: matrix.os == 'ubuntu-latest' && matrix.go-version == '1.19.x'
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@2023.1.3
          staticcheck -checks=all ./...

      - name: Test
        run: go test ./...
